<div class="wh-full">

    <h3 style="font-size: 16px">User Manager</h3>

    <mat-nav-list style="background-color: white">
        <mat-list-item>
            <mat-icon mat-list-icon style="background-color:lightsalmon;color:white">person_add</mat-icon>
            <h3 mat-line class="title-color">New User </h3>
            <p mat-line> First time users - Check your eligible loan amount and apply for loan </p>
        </mat-list-item>

        <mat-list-item>
            <mat-icon mat-list-icon style="background-color:lightslategray;color:white">accessibility</mat-icon>
            <h3 mat-line class="title-color">Existin User </h3>
            <p mat-line>Track status of your completed application or go back to partially completed application </p>
        </mat-list-item>

        <mat-list-item>
            <mat-icon mat-list-icon style="background-color:lightseagreen;color:white">directions_walk</mat-icon>
            <h3 mat-line class="title-color">Application Status </h3>
            <p mat-line>Walkin Customer Loan application status </p>
        </mat-list-item>


    </mat-nav-list>
</div>