<div class="login-bg-color wh-full login-page">
    <div style="display: inline-flex;flex-direction: row;width: 100%;height: 100%;position: absolute;">
        <div style="background-color: white;width: 360px;position: relative;text-align: center"
            class="mat-elevation-z15">
            <!-- <div> <img src="../../..assets/logo.png">
                <h4 style="margin-top: 0;letter-spacing: 2.0px;margin-bottom: 0">Online loan Application</h4>
                <mat-divider></mat-divider>
            </div> <br> -->

            <div style="background-color: #ffea6b;margin-bottom: 10%">
                <img src="assets/logo.png">
                <h4 style="margin: 0;letter-spacing: 2.0px;font-size: 15px;">Online loan Application</h4> <br>

            </div>

            <!-- <div class="wh-full" style="display: table">
                <div style="display: table-cell;vertical-align: middle"> -->
            <div>
                <div>

                    <div style="text-align: left;margin-left: 27px;">
                        <span style="font-size: 15px;letter-spacing: 1.2px"> Welcome to your <b>SyndicateBank </b>
                            <br>(A Govt.of india Undertaking)</span> <br> <br>
                        <h3> Sign In</h3>
                    </div>

                    <form [formGroup]="login" (submit)="onSubmit(login)">
                        <mat-form-field [appearance]="'outline'">
                            <mat-label>User Email or ID</mat-label>
                            <input matInput type="text" [formControlName]="'username'">
                            <mat-icon matSuffix>person</mat-icon>
                            <mat-error
                                *ngIf="login.get('username').errors && login.get('username').touched || login.get('username').dirty">
                                User ID / Email is required
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field [appearance]="'outline'">
                            <mat-label>Password</mat-label>
                            <input type="password" name="password" matInput [formControlName]="'password'">
                            <mat-icon matSuffix>lock</mat-icon>
                            <mat-error
                                *ngIf="login.get('password').errors && login.get('password').touched || login.get('password').dirty">
                                Password is required
                            </mat-error>
                        </mat-form-field>
<br>
                        <span style="font-size: 13px;color:red"> {{errorMsg}} </span>

                        <br><br>
                        <button mat-raised-button type="submit" style="width: 185px" class="d-bgcolor">Login</button>
                    </form>
                    <br>
                    <button mat-button style="font-weight: lighter">Forgot password ? click here !</button> <br>
                    <button mat-button style="font-weight: 500;" color="primary">Registration for new user !</button>

                  
                </div>
            </div>
        </div>



        <div style="width: 100%;position: relative;overflow: auto;height: 100%;">

            <div class="d-padding" style="color: white;padding-left: 15%">
                <h4> Are you looking for loan ? then </h4>
                <h1 style="margin-bottom: 0;">Here,</h1>
                <h3 style="margin-top: 0;color: whitesmoke;font-weight: lighter;font-size: 15px">Your available options
                    !</h3> <br>


                


                <table class="table image-align">
                    <tr>
                        <th><img src="assets/icons/home_s4.png"></th>
                        <td><span>Home Loan</span></td>
                    </tr><br>
                    <tr>
                        <th><img src="assets/icons/car_s4.png"></th>
                        <td>Vehicle Loan </td>
                    </tr><br>
                    <tr>
                        <th><img src="assets/icons/person_s4.png"></th>
                        <td>Personal Loan</td>
                    </tr><br>
                    <tr>
                        <th><img src="assets/icons/certificate_s4.png"></th>
                        <td>Education Loan</td>
                    </tr><br>
                    <tr>
                        <th><img src="assets/icons/bank_s4.png"></th>
                        <td>MSME E2E-<br>Digitalization</td>
                    </tr>
                </table>


            </div>
        </div>
    </div>
</div>